{% extends "faq/base.html" %}


{% block title %}{{ block.super }}: {{ topic }}{% endblock %}

{% block body %}
<h3>{{ topic }}</h3>
<dl>
{% for question in questions %}
  <dt>{{ question.text }}</dt>
  <dd class="answer">{{ question.answer }}</dd>
  <p class="caption"> Was this question helpful?
    <span id="feedback-helpful">
    <a href="{% url 'question_helpful' question.topic.slug question.slug %}?q=y" class="feedback-helpful" data="y">Yes</a> or
    <a href="{% url 'question_helpful' question.topic.slug question.slug %}?q=n" class="feedback-helpful" data="n">No</a>
    </span>
</p>
{% endfor %}
</dl>

{% endblock %}
