{% load i18n %}

{% for c in comments %}
    <div class="form-row text">
        <blockquote>{{ c.comment }}</blockquote>
        <em style="color:#999;">
        {% if c.user %}{% trans "User" %}: {{ c.user }} - {% endif %}
        {% if c.user_name %}{% trans "Username" %}: {{ c.user_name }} - {% endif %}
        {% if c.user_email %}{% trans "Email" %}: {{ c.user_email }} - {% endif %}
        {% if c.ip_address %}{% trans "IP" %}: {{ c.ip_address }} - {% endif %}
        {% if c.submit_date %}{% trans "Created" %}: {{ c.submit_date }}{% endif %}
        </em>
    </div>
{% endfor %}
